@import 'styles/config';

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zindex-header;

  padding-right: var(--scrollbar-width);

  width: 100vw;
  height: var(--header-height);


  &__skip {
    position: absolute;
    top: 0;

    transform: translateY(-101%);

    &:focus-visible {
      transform: none;
    }
  }

  &__container {
    @include container;

    display: flex;
    align-items: center;

    height: var(--header-height);
  }

  &__nav {
    margin-left: auto;
    padding-left: var(--gutter);
  }

  &__controls {
    margin-left: var(--gutter);

    @media (min-width: $min-desktop) {
      display: none;
    }
  }
}

.header-main{
  background: none;
}
.header-secondary{
  background: var(--color-secondary, var(--color-background));
}
