@import 'styles/config';

.descriptionSection {
  background-color: $color-secondary;
  margin-top: 20vh;
  &__title {
    @include h2;
    margin-left: 12em;
    width: 60%;
    @media (max-width: $min-tablet) {
      margin-left: 0;
      width: 100%;
      padding: 0 2em;
    }
  }
}

