@import 'styles/config';

.linkWithText {
  font-weight: bold;
  display: flex;
  & > span {
    margin-right: 20px;
  }
}
.linkLight{
  color: $color-font-contrast;
}
.linkDark{
  color: $color-font;
}
