@import 'styles/config';

.footer {
  background-color: $color-slideshow;
  color: $color-font-contrast;
  width: 100%;

  &__section{
    display:flex;
    justify-content: space-around;
    @media (max-width: $min-tablet) {
      flex-direction: column;
    }
  }
  &__section:first-child{
    padding-bottom: 20em;
  }
  &__title {
    font-size: 78px;
    word-break: break-word;
  }
  &__logoAndTitle {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__emailInput {
    border: 1px solid $color-border;
    display: flex;
    justify-content: space-between;

    &__imageSection {
      display: flex;
      align-items: center;
      padding-left: 150px;
      background-color: $color-slideshow;
      border: none;
      width: 100%;
    }
    input {
      border: none;
      background-color: $color-slideshow;
      color: $color-font-contrast;
      padding: 10px;
      width: 100%;
    }
   input:focus{
     outline: none;
   }
  }
  .bottomHeaders{
    padding-top: 8em;
    display: flex;
    justify-content: space-between;
    @media (max-width: $min-tablet){
      flex-direction: column;
      width: 100%;
      word-break: break-word;
    }
    &__header{
      font-size: 5em;
      font-weight: 900;
      margin: 0;
    }
    &__header:nth-child(1) {
      color: $color-date;
    }
    &__header:nth-child(2) {
      color: $color-orange;
    }
  }

  .smallText {
    margin-right: 1em;
  }
  .smallText:after {
    content: '|';
    margin-left: 1em;
  }
  .smallText:last-child:after {
    content: '';
  }
  .navs {
    margin-top: 5em;
  }
}
