@import 'styles/config';

.articleHeader {
  background-color: $color-slideshow;
  color: $color-font-contrast;
  height: 60vh;
  position: relative;

  &__textData {
    display: flex;
    @media (max-width: $min-tablet) {
      flex-direction: column;
    }
    h1 {
      margin-left: 6em;
      @media (max-width: $min-tablet) {
        margin-left: 0;
        padding: 0 2em;
      }
    }
  }

  &__image{
    position: absolute;
    left: 25%;
    top: 20%;
    @media (max-width: $min-tablet) {
      position: static;
    }
  }




}

