@import 'styles/config';
.canvas {
  height: 1020px;
  width: 100%;
  position: relative;
  z-index: $zindex-hero;
  top: 0px;
  left: 0px;

  &__titleSection{
    @media (max-width: $min-desktop) {
      display: flex;
      flex-direction: column;
      word-break: break-word;
    }
  }
  &__title {
    position: absolute;
    top: 10%;
    left: 10%;
    max-width: 70vw;
    z-index: $zindex-hero;
    color: $color-font-contrast;
    font-size: $h2-size;
    @media (max-width: $min-desktop) {
      position: static;
      top: 0;
      left: 0;
      max-width: 100%;
      margin: 0 auto;
      text-align: center;
      color: $color-font;
    }
  }
  &__actions {
    position: absolute;

    top: 20%;
    left: 80%;
    z-index: $zindex-hero;
    @media (max-width: $min-desktop) {
      position: static;
      top: 0;
      left: 0;
      max-width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }
  &__image {
    position: absolute;
    @media (max-width: $min-desktop) {
      position: static;
      top: 0;
      left: 0;
    }
    top: 30%;
    left: 10%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: $zindex-hero;
  }
}
.secondaryArea {
  background: $color-date;
  height: 665px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media (max-width: $min-desktop) {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  &__ctaButton{
    margin-top: 5vh;
    padding: 30px;
    background-color: $color-date-background;
    font-size: 24px;
    max-width: 35vw;
  }

  &__secondaryTitle {
    padding-top: 12vh;
    line-height: 70px;
    margin-left: 3vw;
    color: $color-font-contrast;
    font-size: 68px;
    max-width: 35vw;
  }
  &__descriptionArea{
    padding-top: 12vh;
    margin-right: 3vw;
    color: $color-font-contrast;
    font-size: 24px;
    max-width: 35vw;
  }
}
